<div class='container'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render 'shared/header', :title => "REGISTER", :back_url => root_path, :back_button => true,  :form_id => 'new_user', :action_button => 'Next' %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class='fields flex-column'>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:'Full name' %>
    
      
        <%= f.email_field :email, autocomplete: "email", placeholder:'Email' %>
      
        <%= f.password_field :password, autocomplete: "new-password", placeholder:'Password' %>
      
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:'Password confirmation' %>
      </div>

  <% end %>


</div>