<div class="#">

 <%= form_with model: @entity,  url: user_group_entities_path(params[:user_id], params[:group_id]), method: 'post', class: "flex-column form", id:'transaction_form' do |form| %>

  <header class="#">
    <div>
      <%= link_to user_group_path(params[:user_id],  params[:group_id]) do %>
        <%= image_tag('left-arrow.png', size: "20x20") %>
      <% end %>
    </div>

    <div class="title">
      NEW TRANSACTION
    </div>
    <div>
      <button id="submit_button" class='submit' >Save</button>
    </div>
  </header>

    <%= render partial: 'shared/messages' %>
    <%= form.text_field :name, id:'name', autofocus: true, placeholder:'Transaction name', required: true %>
    <%= form.number_field :amount, id:'amount', step: 0.01, min:0.01, placeholder:'Amount', required: true %>
    <%= form.select :group_ids, @groups.map { |t| [t.name, t.id]}, :prompt =>'Select category', required: true %>
   <% end %>
</div>