<div class="#">
  <%= render 'shared/header', title=> 'CATEGORIES', :back_btton=> false, :form_id=> ''%>
  <div class="#">
    <span class="bold">Total amount:</span>
    <span class="bold">$<%= '%.2f' % @total></span>
  </div>
  
  <%= render 'shared/messages'%>

  <ul class='#'>
    <% @groups.each do |group|%>
      <li class='#'>
        <%= image_tag(group.icon, class: 'icon') %>
        <div class='#'>
          <div class='#'>
            <%= link_to user_group_path(params[:user_id], group) do %>
              <h3><%= group.name%></h3>
            <%end%>
            <span>
              <%= group.created_at.strftime("%d")%>
              <%= I18n.t("date.abbr_month_names")[group.created_at.strftime("%m").to_i]%>
              <%= group.created_at.strftime("%Y")%>             
            </span>
          </div>
          <div>
            <span class='bold'>$<%= '%.2f' % group.entities.sum(:amount) %></span>
          </div>
        </div>
      </li>
    <% end %>  
  </ul>

  <%= link_to 'ADD NEW CATEGORY', new_user_group_path(@user), class: '#'%>

</div>
