<div class = "nav-top-two">
    <a href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <div id = "margin">
      <p id= "no-padding">NEW CATEGORY</p>
    </div>
</div>
<div class="login-page">
    <div>
        <%= form_with url: groups_path, model: @group do |f| %>
        <% @group.errors.full_messages_for(:name).each do |m| %>
        <%= m %>
        <% end %>
        <%= f.text_field :name, class: 'login-field',id: "groupname", placeholder: "Group Name", required: true %>
        <%= f.text_field :icon, class: 'login-field mt-0', placeholder: "Icon URL" %>
        <div class="green-field">
            <%= f.submit "Create", class: "green-button" %>
        </div>
        <% end %>
    </div>
</div>
