<div class = "nav-top-two">
    <a href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <div id = "margin">
      <p id= "no-padding">BUDGETTRACKS</p>
    </div>
</div>
<ul class = "group-ul">
  <li class = "group-list">
    <div class="list-items">
        <div class = "group-holder">
              <img src = <%= @group.icon %> width = 40px height = 40px>
              <h5 class = "title"> <%= @group.name %> </h5>
        </div>
    </div>
    <div class = "total-amount-holder title">
      <p class = "currency">Total Amount:</p>
      <%= number_to_currency(@group.entities.sum(&:amount)) %>
    </div>
  </li>
</ul>

<ul class = "money-ul">
  <% @group_entities.each do |entity| %>
    <li class = "group-list">
      <div class = 'flex title'>
        <div class = "money-names">
          <%= entity.name %>
        </div>
          <%= number_to_currency(entity.amount) %>
      </div>
        <small >
        <%= entity.created_at.strftime("%d-%b-%Y %H:%M:%S") %>
        </small>
    </li>
  <% end %>
</ul>
<div class="green-field">
    <%= button_to "ADD TRANSACTION", new_group_entity_path(group_id: @group.id), class: "green-button", method: "get" %>
</div>
