<div class='container'>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

<%= render 'shared/header', :title => "Change your password", :back_url => root_path, :back_button => true,  :form_id => 'new_user', :action_button => 'Change' %>

  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="fields flex-column">
     <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: 'New password' %>
     <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'New password confirmation' %>

  </div>
<% end %>
</div>
